.numberButton {
    width: 175px;
    height: 50px;
    margin: 10px;
    border-radius: 10px;
}


#display p {
    margin-left: 50px;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
}

#display {
    width: 570px;
    margin: 10px;
    background-color: lightyellow;
    border: 2px solid yellow;
    border-radius: 10px;
};
